.faq {
    padding: 5.6vw;
    list-style-type: disc;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        &__item {
            background-color: #13151d;
            margin-bottom: 16px;

            &__question {
                position: relative;
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                
                @media (max-width: 768px) {
                    padding: 40px;;
                }

                span::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }
            
            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;
                
                p {
                    padding-left: 12px;
                    padding-bottom: 12px;
                }

                .disclaimer {
                    margin-top: 16px;
                }

                ul {
                    list-style-type: disc;
                    padding-left: 40px;
                }
            }

            &--is--open {
                span::after {
                    content: '-';
                }

                .faq__questions__item__answer{
                    height: auto;
                    padding-bottom: 24px;
                    transition: max-height,.25s ease-in-out;
                }
            }
        }
    }
}
